<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <report msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import report from '@/components/report.vue'

export default {
  name: 'Home',
  components: {
    report
  }
}
</script>
