<template>
  <v-container no-gutters>
    <v-row class="text-center" no-gutters>
      <v-col
        cols="12"
        sm="6"
        class="quadrant"
      >
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="quadrant"
      >
      <!-- <mapgl></mapgl> -->
      <vuemapgl></vuemapgl>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="quadrant"
      >
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="quadrant"
      >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import mapgl from './map'
import vuemapgl from './vuemapgl'
export default {
  name: 'report',
  components: {
    // mapgl,
    vuemapgl
  },
  data: () => ({
  })
}
</script>

<style scoped>
.quadrant {
  height: 45vh;
  border: 0.5px solid grey;
}
.container {
    padding: 0px;
    max-width: 100vw;
}
/* @media (min-width: 1264px){
.container {
    max-width: 100vw;
}
}
@media (min-width: 960px){
.container {
    max-width: 100vw;
}
} */
</style>
