<template>
  <div id="MapboxContainer">
    <mapbox
      :access-token="accessToken"
      :map-options="{
        style: mapStyle[0],
        center: center,
        zoom: zoom,
      }"
      :geolocate-control="{
        show: true,
        position: 'top-left',
      }"
      @map-load="loaded"
      @map-zoomend="zoomend"
      @map-click="clicked"
      @geolocate-error="geolocateError"
      @geolocate-geolocate="geolocate"
    />
  </div>
</template>

<script>
import Mapbox from 'mapbox-gl-vue'
import PopupContent from './PopupContent.vue'

export default {
  components: { Mapbox },
  data: () => ({
    accessToken: 'pk.eyJ1Ijoic3VtaXRwaW5qYXJrYXIiLCJhIjoiY2s5YXhhdXZrMDhlbTNtbGt6N2V0d2k3dCJ9.4SBXbfJUi0URK0iGg7lZzg',
    mapStyle: [
      'mapbox://styles/mapbox/streets-v11',
      'mapbox://styles/mapbox/outdoors-v11',
      'mapbox://styles/mapbox/satellite-streets-v11',
      'mapbox://styles/mapbox/light-v10'
    ],
    // center: [78.5937, 20.9629],
    center: [-68.13734351262877, 45.137451890638886],
    coordinates: [-68.13734351262877, 45.137451890638886],
    // center: [77.488112999999998,
    //   13.002948999999999],
    // coordinates: [77.488112999999998,
    //   13.002948999999999],

    zoom: 5,
    map: null
  }),
  methods: {
    loaded (map) {
      map.addSource('maine', {
        type: 'geojson',
        // data: 'https://sumeetpinjarkar.github.io/geojson/locality.geojson'
        data: {
          type: 'Feature',
          geometry: {
            type: 'Polygon',
            coordinates: [
              [
                [-67.13734351262877, 45.137451890638886],
                [-66.96466, 44.8097],
                [-68.03252, 44.3252],
                [-69.06, 43.98],
                [-70.11617, 43.68405],
                [-70.64573401557249, 43.090083319667144],
                [-70.75102474636725, 43.08003225358635],
                [-70.79761105007827, 43.21973948828747],
                [-70.98176001655037, 43.36789581966826],
                [-70.94416541205806, 43.46633942318431],
                [-71.08482, 45.3052400000002],
                [-70.6600225491012, 45.46022288673396],
                [-70.30495378282376, 45.914794623389355],
                [-70.00014034695016, 46.69317088478567],
                [-69.23708614772835, 47.44777598732787],
                [-68.90478084987546, 47.184794623394396],
                [-68.23430497910454, 47.35462921812177],
                [-67.79035274928509, 47.066248887716995],
                [-67.79141211614706, 45.702585354182816],
                [-67.13734351262877, 45.137451890638886]
              ]
            ]
          }
        }
      })
      map.addLayer({
        id: 'maine',
        type: 'fill',
        source: 'maine',
        layout: {
        },
        paint: {
          'fill-color': '#088',
          'fill-opacity': 0.8
        }
      })
    },
    zoomend (map, e) {
      console.log('Map zoomed')
    },
    clicked (map, e) {
      console.log('map clicked e:', e)
      if (e.features) {
        const coordinates = e.features[0].geometry.coordinates.slice()

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
        }
        // eslint-disable-next-line
        new mapboxgl.Popup()
          .setLngLat({ lng: coordinates[0], lat: coordinates[1] })
          .setHTML('<div id="vue-popup-content"></div>')
          .addTo(map)

        new PopupContent({
          propsData: { feature: e.features[0] }
        }).$mount('#vue-popup-content')
      }
    },
    geolocateError (control, positionError) {
      console.log(positionError)
    },
    geolocate (control, position) {
      console.log(
        `User position: ${position.coords.latitude}, ${position.coords.longitude}`
      )
    }
  }
}
</script>

<style scoped>
  #map {
    width: 100%;
    height: 100%;
  }
  #MapboxContainer {
    width: 100%;
    height: 100%;
  }
  /* #Mapbox {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 510px;
      } */
</style>
