<template>
  <v-app>
    <v-app-bar
      app
      color="#1697F6"
      dark
      flat=""
    >
      <div class="d-flex align-center">
        <!-- <v-icon>{{ report }}</v-icon> -->
        <v-icon>mdi-file</v-icon>
        Report
      </div>

      <v-spacer></v-spacer>

      <v-btn
        dark
        color="black"
      >
        <span class="mr-2">Locality</span>
      </v-btn>
      <!-- <div class="d-flex align-center">
        <v-select
          :items="items"
          label="Locality"
          outlined
          style="margin-top:35px;"
        ></v-select>
      </div> -->
    </v-app-bar>

    <v-content>
      <report />
    </v-content>
  </v-app>
</template>

<script>
import report from './components/report'
export default {
  name: 'App',
  localityData: 'https://sumeetpinjarkar.github.io/geojson/locality.json', // didn't add this in data to reduce the overhead of vuew of creating the getters and setters
  pincodeData: 'https://sumeetpinjarkar.github.io/geojson/pincode.json',
  expenditureData: 'https://sumeetpinjarkar.github.io/geojson/expenditure.json',
  incomeData: 'https://sumeetpinjarkar.github.io/geojson/income.json',
  components: {
    report
  },

  data: () => ({
    // report: mdiFile
  })
}
</script>
